$color-primary: #0B2C3D;
$color-secondary: #FF5A3C;
$color-success: #bada55;
$color-warning: red;
$color-newsfeed: rgb(92 114 125);

$breakpoint-smartphone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;